
/* COMP 22C-1 used an id selector to style a p tag on html page */
#span_demo {
    font-size: 1.8em;
    color: red;
}
/* COMP 22C-4 used a descendant selector to style span tag inside #span_demo  */
#span_demo span {
    font-size: 1.8em;
    font-style: italic;
    color: blue;
}
/* COMP 22C-2 used a class selector to syle an element */
/* COMP 22E used background color to style div_demo */
.div_demo {
    height: 50px;
    width: 400px;
    border: solid 3px black;
    text-align: center; 
    background-color: lightblue;
}
/* COMP 22C-3 used a child selector to style all divs in side class .div_demo */
/* COMP 23D can use font weight, font size, and color to style an element */
.div_demo> div {
    font-size: 20px;
    font-weight: 700;
    color: green;
}

.snowboard_img {
    height: 200px;
    width: 200px;
}

/* COMP 24C used margin to seperate box_container from bottom of page and script section*/
/* COMP 24D used border to clearly define where box_container is  */
/* COMP 24E used padding to position boxes in box_container  */
.boxes_container {
    width: 400px;
    height: 250px;
    border: 3px solid black;
    position: absolute;
    margin-bottom: 80px;
    margin-top: 40px;
    padding: 20px;
}

/* COMP 25D Used float to move box to the left side of its container */
.box1 {
    background: blue;
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
    margin-top: 40px;
}
/* COMP 24F This box is bigger than the blue one because of box sizing */
/* COMP 25D Used float to move box to the right side of its container */
/* COMP 25F Used disply flex to enable flex on box2 */
/* COMP 27C Used justify content to center boxes*/
/* COMP 27D Used align items to center boxes*/
/* COMP 27E Used flex wrap to keep column of boxes from breaking container */
/* COMP 27F Used flex direction to make small boxes go up and down in a column*/
/* COMP 27G Used disply flex to enable flex on box2 */
.box2 {
    text-align: center;
    background: red;
    float: right;
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: 40px;   
    padding: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap
}

.small_boxes {
    height: 20px;
    width: 20px;
    background: green;
    margin: 10px;
}

/* COMP 22C-5 Can use addition selector to style an element */
/* COMP 24C Used margin on p tag to center it in box */
div+p {
    height: 30px;
    width: 150px;
    font-style: italic;
    font-size: 20px;
    color: green;
    position: absolute;
    margin-left: 150px;
}

/* COMP 25C used positioning footer to fix it to the bottom of the screen */
.footer {
    position: fixed;
    bottom: 0;
    background: grey;
}